<%- include("../partials/header") %> <%# Tuodaan sivun header partialsin avulla %>

    <body>
        <table class="table table-striped"><%# Luodaan taulukko, johon sijoitetaan EJS:n avulla dataa json-muuttujasta.  %>
            <tr>
                <th style="text-align: center; font-size: x-large;">Title</th>
                <th style="text-align: center; font-size: x-large;">Genre</th>
                <th style="text-align: center; font-size: x-large;">Writer</th>
                <th style="text-align: center; font-size: x-large;">Actors</th>
                <th style="text-align: center; font-size: x-large;">Plot</th>
                <th style="text-align: center; font-size: x-large;">Poster</th>
            </tr>
            <tr>
                <tbody>
                    <td style="text-align: center; font-size: large; vertical-align: middle;">
                        <%= Title %>
                    </td>
                    <td style="text-align: center; font-size: large; vertical-align: middle;">
                        <%= Genre %>
                    </td>
                    <td style="text-align: center; font-size: large; vertical-align: middle;">
                        <%= Writer %>
                    </td>
                    <td style="text-align: center; font-size: large; vertical-align: middle;">
                        <%= Actors %>
                    </td>
                    <td style="text-align: center; font-size: large; vertical-align: middle;">
                        <%= Plot %>
                    </td>
                    <td style="text-align: center;"><img style="max-width: 50%; vertical-align: middle;"
                            src="<%= Poster %>"> </td>
            </tr>
            </tbody>
        </table>
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
    </body>

    </html>